.footer__container {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.footer__ {
    &text {
        color: white;
    }

    &text-rights {
        color: white;
    }

    &form {
        border-radius: 20%;
    }
}



.form__mail {
    border-radius: 6%;
    width: 150px;
}

.form__mail:hover {
    background-color: $tangerine;
}


@media (max-width: 376px) {
    .footer__container {
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}